@import './../../responsive.scss';

.about-container {
    padding: 60px 60px 0 60px;
    @include sm{
      padding: 5px;
    }
    h1 {
      font-size: 4rem;
      @include md{
        font-size: 3rem;
    }
      @include sm{
        font-size: 1.8rem;
      }
    }
    p{
      font-size: 1.2rem;
      color: #555;
      @include sm{
        font-size: 0.8rem;
      }
    }
    img{
      width: 100%;
      margin-bottom: 20px;
    }
    section {
      margin-bottom: 30px;
    }
  
    .education, .projects, .skills, .hobbies {
      h2 {
        font-size: 2rem;
        color: #444;
      }
  
      ul {
        list-style-type: none;
        padding: 0;
  
        li {
          margin-bottom: 10px;
          font-size: 1.1rem;
          color: #555;
  
          ul {
            list-style-type: disc;
            padding-left: 20px;
          }
        }
      }
    }
  }
  